<main>

    <div class="area-create-page">

        <h1>Add New Photo</h1>

        <form method="POST" action="/areas/{{ area.name }}">

            <label>Photo:</label><input type="text" name="photo"/><br/>

            <button class="form" type="submit">Create Area</button>

        </form>

    </div>