<main>

    <a href="/atlanta">Return to Home Page</a>

    <h1>Add New Region</h1>

    <form method="POST" action="/atlanta">

        Name: <input type="text"  name="region" /><br/>

        <input type="submit" value="Add Region"/>

    </form>
    
</main>
