<main>

	<div class = "region-show-page">

		<h2>You are viewing:

			{{ region }}

		</h2>

		<a href="/">Return to Home Page</a>

        <h3>Areas: </h3>

        <ul>

            {{#each region }}

                <li>

                        {{ area }}
			
                        <img src="{{ photo }}"/>
                    
                </li>

            {{/each }}

        <a href="/{{ region }}/edit">Edit Region</a>

        <a>Add New Area</a>

	</div>

</main>