<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>Atlanta Park Database</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
<header>
  <h1><a href="/">Atlanta Park Database</a></h1>
  <h4><a href='/areas/index'>Area Index</a></h4><br/>
</header>

    <!--
      This is a place holder for the contents of the .hbs file that is
      rendered.
    -->
    {{{body}}}

    <footer>
        <button class = "nMode">Night Mode</button>
        <nav>
            <a id="aboutMe">About</a> |
            <div id="modalAbout" class="about">
                <div class = "about-shape">
                    <div class="about-content">
                        <span class="close">&times;</span>
                        <img src="/Photographs/Mekaal_Ahmad_Profile.jpg" alt = "Mekaal Ahmad profile">
                        <h3>Mekaal Ahmad</h3>
                        <p>
                            I am currently attending General Assembly as a student of the Software Engineering Immersive program.
                            With this program, I hope to develop an advanced set of skills to benefit others.
                            I hope to master website creation, and craft many successful projects.
                            <br>
                            Outside of General Assembly, I am a massive Nintendo fan who loves all their games, and a
                            photographer who focuses on capturing the night sky, landscapes, and nature.
                            I hope that with this game, I can display my capabilities in Software Engineering.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <a href="https://www.linkedin.com/in/mekaal-ahmad-b7339191/" target="_blank">Linkedin</a> |
            <a href="https://github.com/mekaala" target="_blank">GitHub</a> |
            <a href="https://www.instagram.com/mekastro/?hl=en" target="_blank">Instagram</a>
        </nav>
    </footer>
		<script type="text/javascript" src="/script.js"></script>

</body>
</html>
