<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Atlanta Photography Database</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
<header>
  <h1><a href="/">Atlanta Photography Database</a></h1>
  <nav>
      <h4><a href="/regions">Regions</a></h4>
      <h4><a href='/areas/index'>Areas</a></h4>
      <h4><a href='/photographers/roster'>Photographers</a></h4>
  </nav>
</header>

    {{{body}}}

    <footer>
        <nav>
            <a id="aboutMe">About</a> |
            <div id="modalAbout" class="about">
                <div class = "about-shape">
                    <div class="about-content">
                        <span class="close">&times;</span>
                        <img src="/Photographs/Mekaal_Ahmad_Profile.jpg" alt = "Mekaal Ahmad profile">
                        <h3>Mekaal Ahmad</h3>
                        <p>
                            I am currently attending General Assembly as a student of the Software Engineering Immersive program.
                            With this program, I hope to develop an advanced set of skills to benefit others.
                            I hope to master website creation, and craft many successful projects.
                            <br>
                            Outside of General Assembly, I am a massive Nintendo fan who loves all their games, and a
                            photographer who focuses on capturing the night sky, landscapes, and nature.
                            I hope that with this game, I can display my capabilities in Software Engineering.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <a href="https://www.linkedin.com/in/mekaal-ahmad-b7339191/" target="_blank">Linkedin</a> |
            <a href="https://github.com/mekaala" target="_blank">GitHub</a> |
            <a href="https://www.instagram.com/mekastro/?hl=en" target="_blank">Instagram</a>
        </nav>
    </footer>
		<script type="text/javascript" src="/script.js"></script>

</body>
</html>
