<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Atlanta Park Database</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
<header>
  <h1><a href="/">Atlanta Park Database</a></h1>
  <h4><a href='/areas/index'>Area Index</a></h4><br/>
</header>

    <!--
      This is a place holder for the contents of the .hbs file that is
      rendered.
    -->
    {{{body}}}

		<script type="text/javascript" src="/script.js"></script>

</body>
</html>
