body {
    background: linear-gradient(-45deg, linen, #23a6d5);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Montserrat';
    color: black;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

div {
    margin: 0 auto;
    border-radius: 12px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 2% auto;
    padding: 0 2%;
}

li {
    text-decoration: none;
    display: inline;
    text-align: center;
    margin: 0 1%;
}

img {
    width: 80%;
    border-radius: 6px;
    margin: 1% 10%;
}
.cite {
    margin: 0 10%;
    font-size: x-small;
}

a:hover {
    color: green;
    transition-duration: 0.5s;
}


form {
    margin: 20px auto;
  }

  label {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin: 4px;
  }
  
  input, textarea {
    width: 350px;
    box-sizing: border-box;
    margin: 5px auto;
    border-radius: 4px;
    border: 1px solid #999;
  }

  .send {
    width: auto;
  }

  textarea {
      height: 5em;
      vertical-align: top;
  }


.regions-display-page {
    background: rgb(231, 118, 118);
}

.regions-footer a {
    display: inline;
    margin: 10px;
    text-align: center;
}

.region-show-page {
    background: rgb(231, 118, 118);
}

.region-create-page {
    background: rgb(231, 118, 118);
}

.region-edit-page {
    background: rgb(231, 118, 118);
}

.area-index-page {
    background: rgb(231, 118, 118);
}

.areas-show-page {
    background: rgb(231, 118, 118);
}

.area-show-page {
    background: rgb(231, 118, 118);
}

.area-create-page {
    background: rgb(231, 118, 118);
}

.area-edit-page {
    background: rgb(231, 118, 118);
}