body {
    background-image: url('/Photographs/tulip.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat';
    color: black;
}

header h4 {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

div {
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px;
}

h1, h2, h3, h4, p, ul, .head, .footer {
    margin: 2% auto;
    padding: 0 2%;
}

li {
    text-decoration: none;
    display: inline;
    text-align: center;
    margin-right: 1%;
}

img {
    width: 80%;
    border-radius: 6px;
    margin: 1% 10%;
}
.cite {
    margin: 0 10%;
    font-size: x-small;
    text-align: left;
}

a:hover {
    color: blue;
    transition-duration: 0.5s;
}

.region-footer a {
    display: inline;
    text-align: center;
    margin-left: 9%;
}

.delete {
    margin: -3% 0% 0% 83%;
}

button {
    width: 60px;
    height: 40px;
    font-family: 'Montserrat';
    border-radius: 8px;
}
button:hover {
    background-color: red;
    font-weight: bolder;
    transition-duration: 0.8s;
}

.extra1 img, .extra2 img, .extra3 img {
    width: 40%;
}

.form {
    margin: 1% 0 1% 57%;
    width: 80px;
}
form {
    margin: 20px auto;
  }

  label {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin: 4px;
  }
  
  input, textarea {
    width: 350px;
    box-sizing: border-box;
    margin: 5px auto;
    border-radius: 4px;
    border: 1px solid #999;
  }

  textarea {
      height: 5em;
      vertical-align: top;
  }


.regions-display-page {
    background: rgba(128, 128, 128, 0.432);
}

.region-area {
    margin: 10%;
}

.region-show-page, .region-create-page, .region-edit-page, .area-index-page, .areas-show-page, .area-show-page, .area-create-page, .area-edit-page, .photographers-display-page, .photographer-show-page, .photographer-new-form, .photographer-edit-form {
    background: rgba(128, 128, 128, 0.432);
}

.area-show-page {
    height: 100%;
}
.photographers-display-page {
    height: 100%;
}
.photographers-display-page .footer {
    margin: 120% 0;
}
.photographers-display-page ul, .something {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 100%;
}
.photographers-display-page h4, .photographers-display-page img {
    margin: 0;
}

.photographer-show-page {
    height: 600px;
}
.photographer-show-page img {
    float: right;
    width: 40%;
    margin: -5% auto;
}
.photographer-show-page p {
    margin: auto;
}

.photographer-show-page .region-footer a {
    margin: 0 1%;
    display: inline;
}

.photographer-show-page .delete {
    margin: 3px 1%;
}
.photographer-show-page button {
    width: 100px;
}

    footer p {
        float: left;
        margin: auto; 
    }
    footer nav {
        float: right;
        margin-top: 13px;
    }
        #aboutMe:hover {
            cursor: pointer;
            transition-duration: 0.5s;
            }
        .about {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            animation-name: fadeIn;
            animation-duration: 1s;
            margin: auto;
        }
        .about-shape {
            position: relative;
            margin: 5% auto;
            background: rgba(0, 0, 0, 0.432);
            width: 75%;
            border-radius: 24px;
        }
        .about-content {
            position: relative; 
            color: white;
            padding: 20px; 
            margin: auto; 
        }
        .close {
            float: right; 
            color: lightgray; 
            font-size: 32px;  
            font-weight: bold;
            margin: -18px -10px;

          }
          .close:hover {
            color: darkgray;
            cursor: pointer;
          }
        .about img {
            width: 40%;
            margin: 0 30%;
            border-radius: 48px;
        }
        .about p {
            float: none;
        }
        .about h3 {
            text-align: center;
        }

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@media only screen and (max-width: 760px) {
    body {
        font-size: 80%;
    }
    img {
        width: 75%;
    }
    .region-footer a {
        display: block;
        text-align: left;
        margin-left: 8%;
    }
    .delete {
        margin: -13% 0 0 68%;
    }
    .area-show-page {
        height: 700px;
    }
    .photographers-display-page ul, .something {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .area-show-page .region-footer {
        margin: auto;
    }
    .area-show-page a {
        margin-left: 8%;
    }
    .area-show-page button {
        width: 81px;
    }
    .photographer-show-page img {
        float: none;
        width: 60%;
        margin: 3% 20%;
    }
    /* .photographers-display-page {
        height: 2000px;
    } */
    .photographers-display-page img {
        width: 50%;
    }
    .photographers-display-page .footer {
        margin: 1610px auto 0;
    }
    .photographer-show-page .region-footer {
        display: block;
    }
    .photographer-show-page .region-footer a {
        display: block;
        margin: auto;
    }
    .photographer-show-page .delete {
        margin: -25px 10px 0;
        float: right;
    }
}