<main>
    
    <div class="home-display-page">

        <h3>Welcome!</h3>
        <h4>Here you can view regions and areas of Atlanta, and learn of the new photographers in the area!</h4>

        <ul>

            <li><a href="/regions"><h1>REGIONS</h1>
                <img src="/Photographs/midtowncrop.jpg"/>
            </a></li>
            <li><a href="/areas/index"><h1>AREAS</h1>
                <img src="/Photographs/homepage_small.jpg"/>
            </a></li>
            <li><a href="/photographers/roster"><h1>PHOTOGRAPHERS</h1>
                <img src="/Photographs/desert.jpg"/>
            </a></li>

        </ul>

    </div>

</main>