<main>

    <a href="/atlanta">Return to Home Page</a>


	<div class = "region-show-page">

        <h2>Areas of {{ areas.name }} </h2>

        <ul>

            {{#each areas }}

                <li>

                    <a href="/atlanta/areas/area/{{ id }}">
                        {{ place }}<br/>
                        <img src="{{ img }}"/>
                    </a>

                </li>

            {{/each }}

        </ul>

        <a href="/atlanta/areas/create/new">Add New Area</a><br/>


	</div>

</main>