<main>

    <div class="area-create-page">

        <h1>Create New Area</h1>

        <form method="POST" action="/areas/{{ area.name }}">

                {{!-- Region Name: <select name="region">
                    <option value="">Select a Region</option>
                    {{#each regions }}
                        <option value="{{ id }}">{{ name }}</option>
                    {{/each}}
                </select><br/> --}}

                <label>Region:</label><input type="text" name="name"/><br/>

                <label>Name:</label><input type="text" name="place"/><br/>

                <label>Description:</label><textarea type="text" name="description"></textarea><br/>

                <label>Rules:</label><textarea type="text" name="rules"></textarea><br/>

                <label>Photo:</label><input type="text" name="img"/><br/>

                <label>Source:</label><input type="text" name="imgSource"/><br/>

            <input type="submit" value="Create Area"/>

            {{!-- <input type="hidden" name="region" value="{{ reg }}" --}}

        </form>

    </div>
    
</main>
