<main>

    <div class="photographer-new-form">

        <h1>Add New Photographer</h1>

            <form action="/photographers/roster" method="POST">

                <label>Photographer:</label><input type="text" name="name"/><br/>

                <label>Instagram:</label><input type="text" name="insta"/><br/>

                <label>Username:</label><input type="text" name="description"/><br/>

                <label>Profile Photo:</label><input type="text" name="faceImg"><br/>

                <label>About:</label><textarea type="text" name="about"></textarea><br/>

            <button class="form" type="submit">Submit Changes</button>

        </form>

    </div>
    
</main>