<main>

    <div class="region-create-page">

    <a href='/{{ region.id }}'>Return to Region Information</a><br/>

        <h1>Add New Region</h1>

        <form method="POST" action="/">

                <label>Region:</label><input type="text" name="name"/><br/>

                <label>About:</label><textarea type="text" name="about"></textarea><br/>

                <label>Photo:</label><input type="text" name="img"/><br/>

                <label>Source:</label><input type="text" name="imgSource"/><br/>

            <button class="form" type="submit">Add Region</button>

        </form>

    </div>
    
</main>
