<main>

    <a href='/{{ region.id }}'>Return to Region Information</a><br/>

    <div class="region-create-page">

        <h1>Add New Region</h1>

        <form method="POST" action="/">

                <label>Region:</label><input type="text" name="name"/><br/>

                <label>About:</label><textarea type="text" name="about"></textarea><br/>

                <label>Photo:</label><input type="text" name="img"/><br/>

                <label>Source:</label><input type="text" name="imgSource"/><br/>


            <input type="submit" value="Add Region"/>

        </form>

    </div>
    
</main>
