<main>
    
    <div class="regions-display-page">

        <h2>Atlanta Region List</h2>
        <h3>Welcome!<br/>
        You can find information and photos of different parks all over Atlanta.<br/>
        Please select your region.</h3>
        
        <ul>

            {{#each regions }}

                <li><a href="/{{ id }}">{{ name }}</a></li>

            {{/each }}

        </ul>

        <div class="footer">

            <a href="/new">Add New Region</a>

        </div>

    </div>

</main>