<main>
    
    <ul>

        {{#each regions }}

             <li><a href="/atlanta/{{ id }}">{{ name }}</a></li>

        {{/each }}

    </ul>

    <a href="/atlanta/new">Add new region</a>

</main>