<main>

    <h1>Atlanta Park Database</h1>

    <h2>Welcome!<br/>
    You can find information and photos of different parks all over Atlanta.<br/>
    Please select your region.</h2>
    
    <ul>

        {{#each regions }}

             <li><a href="/{{ id }}">{{ name }}</a></li>

        {{/each }}

    </ul>

    <a href="/areas/index">View Entire Area List</a><br/>

    <a href="/new">Add New Region</a>

</main>