<main>
    
    <div class="regions-display-page">

        <h2>Atlanta Region List</h2>
        <h3>Welcome!<br/>
        You can find information and photos of different parks all over Atlanta.<br/>
        Please select your region.</h3>

        <a href="/regions/new">Add New Region</a>

        <ul>

            {{#each regions }}

                <li><a href="/regions/{{ id }}">
                <h4>{{ name }}</h4><br/>
                <img src="{{ img }}"/>
                </a></li>

            {{/each }}

        </ul>

    </div>

</main>